html,
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
#root,
.App {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-weight: 100;
  src: url('./fonts/AppleSDGothicNeoT.ttf') format('truetype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-weight: 200;
  src: url('./fonts/AppleSDGothicNeoUL.ttf') format('truetype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-weight: 300;
  src: url('./fonts/AppleSDGothicNeoL.ttf') format('truetype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/AppleSDGothicNeoR.ttf') format('truetype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-weight: 500;
  src: url('./fonts/AppleSDGothicNeoM.ttf') format('truetype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-weight: 600;
  src: url('./fonts/AppleSDGothicNeoSB.ttf') format('truetype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-weight: 700;
  font-style: bold;
  src: url('./fonts/AppleSDGothicNeoB.ttf') format('truetype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-weight: 800;
  src: url('./fonts/AppleSDGothicNeoEB.ttf') format('truetype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-weight: 900;
  src: url('./fonts/AppleSDGothicNeoH.ttf') format('truetype');
}

* {
  font-family: 'Apple SD Gothic Neo', Helvetica, sans-serif;
}